# Python cache files
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# macOS files
.DS_Store

# Ignore real log files but keep sample log
logs/*.log
!logs/sample_access.log

# Generated reports
reports/
venv/
